@import "tailwindcss";

@theme {
  --color-background: #090909;
  --color-surface: #111111;
  --color-primary: #ededed;
  --color-secondary: #a1a1aa;
  --color-muted: #52525b;
  --color-border: #27272a;
  --color-accent: #c0c0c0;
  --radius-card: 1.5rem;
}

.light {
  --color-background: #f4f4f0;
  --color-surface: #ffffff;
  --color-primary: #111111;
  --color-secondary: #52525b;
  --color-muted: #71717a;
  --color-border: #d4d4d8;
  --color-accent: #737373;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Inter', sans-serif;
  }

}