@import "tailwindcss";

@theme {
  --color-background: #090909;
  --color-surface: #111111;
  --color-primary: #ededed;
  --color-secondary: #a1a1aa;
  --color-muted: #52525b;
  --color-border: #27272a;
  --color-accent: #c0c0c0;
  --radius-card: 1.5rem;
}

.light {
  --color-background: #ddd7cd;
  --color-surface: #ece7df;
  --color-primary: #111111;
  --color-secondary: #555555;
  --color-muted: #7a7a7a;
  --color-border: #c3bcae;
  --color-accent: #6d665c;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: "Inter", sans-serif;
    transition:
      background-color 300ms ease,
      color 300ms ease;
  }
}